@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;

}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

.para {
  @apply text-gray-700;
}

.drpdown {
  background-color: white;
  border-radius: 15px;
  padding: 30px;
}

.drpdown::after {
  border-bottom: 16px solid white;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;

  left: 42px;
  content: "";
  top: -8px;

  position: absolute;
}


@media screen and (max-width: 400px) {
  .drpdown::after {
   

    position: relative !important;
  }
}
